.combinedSearch{
    display:flex;
}
h1,h2,h3{
    text-align: center;
}
h3{
    font-size:16px;
}
.equalImage{
    display: block;
    text-align: center;
}
img{
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}
.formular{
    display:flex;
    flex-direction: column;
    
}
input, textarea{
    text-align: center;
    resize:none;
}
main{
    margin-bottom: 50px;
}
footer{
    background-color: #e7e7e7;
    padding:15px;
    /* position:fixed;
    bottom:0px;
    width:100%; */
}
#contact{
    position: relative;
}
.overlay{
    position:absolute;
    z-index: 200;
    top:200px;
    background-color: grey;
    width:500px;
    margin-left: 20%;
    height:150px;
    color:green;
    display:none;
}
.overlay h2{
    font-size: 75px;
}
