.combinedSearch{
    display:flex;
}
h1,h2,h3{
    text-align: center;
}
.equalImage{
    display: block;
    text-align: center;
}
img{
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}
.formular{
    display:flex;
    flex-direction: column;
    
}
input{
    text-align: center;
}
footer{
    background-color: #e7e7e7;
    padding:15px;
}